<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{blog.title}}<span
                class="bg-green-500 text-white font-bold p-1 rounded-md shadow-md">{{getCategoryName()}}</span>
        </mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="blog.image" alt=" Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{blog.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="'/blog/'+blog.id">Read More</button>

    </mat-card-actions>
</mat-card>